footer {
  position: absolute * * 0 0;
  width: 100%;
  padding: 1em;
  font-size: .75em;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
  a,
  a:visited,
  button {
    color: #212023;
    width: 13em;
  }
  a {
    text-decoration: none;
  }

  @media(--mobile-portrait) {
  }
}