.intro {
  justify-content: flex-start;

  @media (--mobile-portrait) {
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    padding: 15vh 0 0 0;
  }
  
  &.first {
    justify-content: flex-end;
    margin: 2em 2em;
    height: calc(100vh - 4em);
    max-width: 40em;
    @media (--mobile-portrait) {
      justify-content: flex-start;
      width: 95%;
      margin: 20vh auto 0;
    }
  }

  &__title {
    @media (--mobile-portrait) {
      padding: 0 3vw;
      h1 {
        font-size: 1.5em;
      }
    }
  }
  &__content {
    padding: 0.5em;
    @media (--mobile-portrait) {
      width: 95%;
      margin: 0 auto;
    }
  }
  &__description {
    max-height: 37vh;
    padding: 0.5em 1em;
    overflow-y: scroll;

    @media (--mobile-portrait) {
      max-height: 25vh;
      font-size: .875em;
    }
  }
  &__btn {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px;
    border-style: solid;
    text-align: center;

    button {
      width: 100%;
      font-size: 1.125em;
      font-weight: bold;
    }
  }
}