.result {
  padding: 1em;
  border-radius: var(--border-radius-base);
  text-align: center;

  @media (--mobile-portrait) {
    width: calc(100% - 2em);
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .result-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5em 0;
  }
}

.result.content{
  max-width: 28em;
  height: calc(100vh - 4em);
  margin: 2em auto;
  padding: 0;
  .result-content{
    margin: 0.5em;
    img{
      width: 100%;
    }
    .resultDesc{
      width: 96%;
      word-break: break-word;
      text-align: left;
      text-indent: 2em;
      margin: 0.5em auto;
      .autor{
        text-align: right;
        font-size: 50%;
        opacity: 0.5;
      }
    }
    &#resultTop3{
      text-align: left;
      margin: 0;
      padding: 1em;
      background-color: #023963;
      border-bottom: 1px dashed #024d87;
      color: #e5ecfe;
      >*{
        display: inline-block;
        vertical-align: top;
        li::before{
          content: "⊙";
          color: #ffd014;
          font-size: 1em;
          margin-right: 0.5em;
        }
      }
    }
  }
  .result-email{
    margin: 1em 0;
    input{
      width: 18em;
      padding: 0.7em 1em;
      border-radius: var(--border-radius-base);
      color: #555;
    }
  }
  .result-btns{
    margin: 0;
    padding: 0.5em;
    background-color: #023963;
  }
}

.result-share {
  text-align: right;
  button {
    position: relative;
    color: var(--color-initium-light);
    svg {
      size: 40px;
    }
    #wechatqr {
      position: absolute * * 3em -5em;
      size: 10em;
    }
  }
}

.result-more {
  display: flex;
  flex-wrap: wrap;

  > a {
    position: relative;
    size: calc(50% - .5em) 100%;
    margin-top: .5em;
    margin-bottom: .5em;
    border-radius: var(--border-radius-base);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:before {
      content: '';
      display: block;
      padding-bottom: 60%;
    }
    &:nth-child(even) {
      margin-left: .5em;
    }
    &:nth-child(odd) {
      margin-right: .5em;
    }
  }
}