.result {
  padding: 1em;
  border-radius: var(--border-radius-base);
  text-align: center;

  @media (--mobile-portrait) {
    width: calc(100% - 2em);
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .result-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.5em 0;
  }
}

.result.content{
  max-width: 28em;
  height: calc(100vh - 4em);
  margin: 2em auto;
  padding: 0;
  .result-content{
    margin: 0.5em;
    .resultDesc{
      width: 96%;
      word-break: break-word;
      text-align: left;
      text-indent: 2em;
      margin: 0.5em auto;
      .autor{
        text-align: right;
        font-size: 0.8em;
        opacity: 0.5;
      }
    }
    &#resultTop3{
      text-align: left;
      margin: 0;
      padding: 1em;
      border-bottom: 1px dashed #257bbe;
      color: #e5ecfe;
      >*{
        display: inline-block;
        vertical-align: top;
        li{
          padding-left: 1em;;
        }
        li::before{
          content: "⊙";
          color: #ffd014;
          font-size: 1em;
          margin-right: 0.5em;
        }
      }
    }
  }
  .result-email{
    margin: 1em 0;
    input{
      width: calc(100% - 6em);
      min-width: 16em;
      padding: 0.8em 1em;
      border-radius: var(--border-radius-base);
      color: #555;
    }
  }
  .result-btns{
    height: 3.5em;
    margin: 0;
    padding: 0.5em;
  }

  .resultImg{
    width: 100%;
    height: auto;
    width: 100%;
    min-height: 5em;
    background-color: #fff;
    padding: 0.2em 0.2em 0;
    img{
      width: 100%;
    }
  }

  @media(--mobile-portrait) {
    width: 80%;
    height: calc(100vh - 12em);
    margin: 4em auto 8em;
  }
}

.result-share {
  text-align: right;
  button {
    position: relative;
    color: var(--color-initium-light);
    svg {
      size: 40px;
    }
    #wechatqr {
      position: absolute * * 3em -5em;
      size: 10em;
    }
  }
}

.result-more {
  display: flex;
  flex-wrap: wrap;

  > a {
    position: relative;
    size: calc(50% - .5em) 100%;
    margin-top: .5em;
    margin-bottom: .5em;
    border-radius: var(--border-radius-base);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:before {
      content: '';
      display: block;
      padding-bottom: 60%;
    }
    &:nth-child(even) {
      margin-left: .5em;
    }
    &:nth-child(odd) {
      margin-right: .5em;
    }
  }
}

.fp-completely[data-anchor="result"]{
  background-image: none !important;
  background-color: #023b63;
  footer a,
  footer a:visited,
  footer button{
    color: #fff;
  }
  .logo{
    background-image: url("../images/initium-logo-white.png");
  }
}

.creditsBox{
  display: none;
  position: absolute;
  z-index: 100;
  bottom: 1em;
  left: calc(50vw - 3em);
  width: 12em;
  background-color: #02508a;
  border: 5px solid #010817;
  padding: 1em;
  color: #fff;
  #creditsBoxClose{
    width: 100%;
    padding: 0.5em;
    font-weight: bold;
  }
}
